@import './_fonts.sass' 
@import './_variables.sass'

@import './components/_actions'
@import './components/_posts'





*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Noto Sans JP', 'Montserrat', sans-serif

#tapio-app
    position: relative
    display: flex
    margin: auto

    transition: background-color -.5s ease-in
    background-attachment: fixed
    header
       
        padding: 1rem
        width: 30vw
        position: fixed
        top: 0
        height: 100%
        background: rgb(13, 57, 71)
        background: linear-gradient(42deg, #25505d 11%, #326573 35%, #3a707e 52%, #376b79 65%, #3b6f7d 89%)

        // box-shadow: 3px 0px 10px -1px #424e5f
        #profile-info
            display: grid
            grid-template-columns: 1fr 5fr 1fr
            align-items: center
            gap: 0.6rem
            background-color: white

            padding: 0.3rem
            border-radius: 6px
            margin-bottom: 1rem
            #login-btn
                background-color: $connexion-blue
                color: white
                padding: 0.2rem 0.6rem
                border-radius: 5px
                &:hover
                    background-color: lighten($connexion-blue, 3%)
            .profile-picture
                width: 50px
                border-radius: 50%
                margin: auto
            h2
                color: $connexion-blue
                font-size: 1.4rem
                margin: 0
                font-weight: bold
            
        .header-title
            display: flex
            justify-content: center
            #title-app
                margin-top: 0.3rem
                text-align: center
                color: white
                display: flex
                align-items: center
                font-family: 'Unbounded','Lobster', 'Montserrat', cursive
                font-size: 2.6rem
            #logo
                width: 100px

    #posts-section
        margin-left: 33vw
        margin-top: 1.2rem
        display: flex
        flex-direction: column
        gap: 1.2rem 
        min-height: 100vh
       
        .posts
            border-radius: 5px
            padding-right: 1rem

            display: flex
            flex-wrap: wrap
            gap: 1rem

            
        .title-section
            color: rgb(70, 108, 125)
            position: relative
            &::after
                content: ''
                position: absolute
                bottom: -28%
                left: 0
                width: 8rem
                height: 7px
                border-radius: 10px
                background-color: rgba(71, 132, 146, 0.822)

.notification-create
    background-color: rgba(163, 217, 162, 1)
.notification-delete
    background-color: rgba(163, 217, 162,1)
.notification-delete-error
    background-color: #cc775e
.notification-update
    background-color: rgba(56, 163, 192, 1)

.post-form-btn
    background-color: $light-green
    color: white
    transition: all 0.3s ease
    &:hover
        background-color: white

footer
    color: rgb(70, 108, 125)
    text-align: center
    font-family: 'Unbounded', 'Montserrat'
    padding: 1rem
.navbar-dark
    display: none


    // dark mode
.light 
    background: rgb(225, 236, 236)
    background: linear-gradient(180deg, #e9eeee 0%, #e0e0e0 100%)  
.dark 
    background: #111d29
    background: linear-gradient(180deg,#111d29,#0d3e51)



@media (max-width: 769px) 
    #tapio-app
        flex-direction: column
        header

            position: static

            top: 0
            width: 100%
            height: 30%
            #profile-info
                 #login-btn
                    

        #posts-section
            margin-left: 1rem

@media (max-width: 426px) 
    #tapio-app
        display: block
        header
            background: none
           
        #posts-section
            margin-left: 1rem