@import './_fonts.sass' 
@import './_variables.sass'

@import './components/_actions'
@import './components/_posts'





*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Noto Sans JP', 'Montserrat', sans-serif

#tapio-app
    position: relative
    display: flex
    margin: auto

    header
        padding: 1rem
        width: 30vw
        position: fixed
        top: 0
        height: 100%
        background: rgb(22,70,84)
        background: linear-gradient(42deg, rgba(22,70,84,1) 11%, rgba(30,88,104,1) 35%, rgba(43,100,115,1) 52%, rgba(48,106,122,1) 65%, rgba(31,84,99,1) 89%)

        box-shadow: 3px 0px 10px -1px #424e5f
        #profile-info
            display: grid
            grid-template-columns: 1fr 5fr 1fr
            align-items: center
            gap: 0.6rem
            background-color: white
            padding: 0.3rem
            border-radius: 6px
            margin-bottom: 1rem
            #login-btn
                background-color: $connexion-blue
                color: white
                padding: 0.2rem 0.6rem
                border-radius: 5px
                &:hover
                    background-color: lighten($connexion-blue, 3%)
            .profile-picture
                width: 50px
                border-radius: 50%
                margin: auto
            h2
                color: $connexion-blue
                font-size: 1.4rem
                margin: 0
                font-weight: bold
            
        .header-title
            display: flex
            justify-content: center
            #title-app
                margin-top: 0.3rem
                text-align: center
                color: white
                display: flex
                align-items: center
                font-family: 'Unbounded','Lobster', 'Montserrat', cursive
                font-size: 2.6rem
            #logo
                width: 100px

    #posts-section
      
        padding: 2rem
        width: 70vw
        margin-left: 31vw
        display: flex
   
        flex-wrap: wrap
        gap: 1rem

        .title-section
            color: rgba(101, 165, 193, 0.682)
            position: relative
            &::after
                content: ''
                position: absolute
                bottom: -20%
                left: 0
                width: 10rem
                height: 7px
                border-radius: 10px
                background-color: rgba(33, 106, 123, 0.822)

.notification-create
    background-color: rgba(163, 217, 162, 1)
.notification-delete
    background-color: rgba(163, 217, 162,1)
.notification-update
    background-color: rgba(56, 163, 192, 1)

.post-form-btn
    background-color: $light-green
    color: white
    transition: all 0.3s ease
    &:hover
        background-color: white