
    
.status
    transform: scale(1.6)
    display: flex





    
#post-item
    display: grid
    grid-template-columns: 1fr 4fr 1fr
    gap: 1rem
    background-color: lighten($trans-blue, 8%)
    filter: blur(80%)
    color: rgb(32, 27, 65)
    border-radius: 5px
    
    box-shadow: 0px 0px 11px 0px rgba(32, 80, 135, 0.42)
    width: 48%
    #profile-div
        background-color: $dark-green
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px

        padding: 1rem
        display: flex
        flex-direction: column
        width: 8rem
        .profile-picture
            width: 70px
            border-radius: 50%
            margin: auto
        #profile-name
            font-size: 1.2rem
            text-align: center
            margin-top: 0.5rem
            color: white
    .post-info
        display: flex
        flex-direction: column
        justify-content: space-around
        #update-post-btn
            color: $dark-green
            font-size: 13px
            align-self: start
            text-decoration: underline
    .post-title
        margin-top: 0.4rem
        font-size: 1.1rem
        color: $connexion-blue
    .post-text
        display: flex
        align-items: center
        justify-content: center
        margin-top: 0.4rem
        font-size: 1rem
    .delete-box
        padding: 0.5rem
        justify-self: end

       




    .delete-btn
        color: $dark-blue
        align-self: end
        &:hover
            color: rgb(190, 93, 28)
            animation: spinner 10000ms linear infinite
    p
        margin: 0
        font-size: 1rem

@keyframes spinner 
    
  0% 
    -webkit-transform: rotate(0deg)
            transform: rotate(0deg)
  
  100% 
    -webkit-transform: rotate(360deg)
            transform: rotate(360deg)

@media (max-width: 435px) 
    #post-item
        width: 100%


